.background{
  background-color: black;
}

/* Styles Commmon to all */ 
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items towards the start (top) of the container */
  height: 120vh;
  padding-top: 50px; /* Add some top padding to create space */
}

button {  
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/* Page 1  Styles */

.p1-form {
  width: 500px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.p1-form h2 {
  text-align: center;
  background-color: lavender;
  padding: 8px;
  margin-bottom: 20px;
}

.p1-form-group {
  margin-bottom: 20px;
}

.p1-form label {
  display: block;
  margin-bottom: 5px;
}

.p1-form input,
.p1-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid darkgray;
  border-radius: 5px;
}

.button-div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid #ccc; /* Add border */
  padding-top: 20px; /* Add padding for spacing */
}


/* Page 2  Styles */

.p2-form {
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.p2-form h2 {
  text-align: center;
  background-color: lavender;
  padding: 8px;
  margin-bottom: 20px;
}

.p2-form-group {
  display: block;
  margin-bottom: 20px;
}

.p2-form-group label{
  padding-left: 6px;
}

.p2-form-group label{
  padding-right: 8px;
}

.p2-button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid #ccc; /* Add border */
  padding-top: 20px; /* Add padding for spacing */
}

.p2-button button{
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}


/* Page 3  Styles */

.p3-form {
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.p3-form h2 {
  text-align: center;
  background-color: lavender;
  padding: 8px;
  margin-bottom: 20px;
}

.p3-form-group {
  display: block;
  margin-bottom: 20px;
}

.p3-form-group label{
  padding-right: 8px;
}


/* Page 4 Styles */

.p4-form {
  width: 670px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.detail-item{
  margin-left: 5px;
  font-size: 20px;
  padding: 5px;
}

.detail-item span{
    font-weight: 600;
    padding-right: 4px;
}

.p4-form h2 {
  text-align: center;
  background-color: lavender;
  padding: 8px;
  margin-bottom: 20px;
}

.p4-form h4 {
  color: white;
  text-align: center;
  background-color: gray;
  padding: 5px;
}

.p4-button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid #ccc; /* Add border */
  padding-top: 20px; /* Add padding for spacing */
}

.resume-container{
  border: 1px solid black;
}


/* Sucess page styles */

.s-container{
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items towards the start (top) of the container */
  height: 80vh;
  padding-top: 50px;
}

.s-container span{
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
}

.s-button{
  justify-content: center;
  margin-top: 20px;
  border-top: 1px solid #ccc; /* Add border */
  padding-top: 20px; /* Add padding for spacing */
}

.s-container button {  
  font-size: 22px;
  padding: 5px;
  width: 40%;
  margin-bottom: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  
}

/* For Error messages Messages */
.error{
  color: red;
  padding-top: 5px;
}
